################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HumanResources/.vs/HumanResources/FileContentIndex/0a6bbeb4-d937-4e9a-a2eb-e2a5339672cc.vsidx
/HumanResources/.vs/HumanResources/FileContentIndex/31d77402-548d-48d6-a899-640b6e2c36d1.vsidx
/HumanResources/.vs/HumanResources/FileContentIndex/5f892684-6002-4d4f-8e7c-e03f61f51885.vsidx
/HumanResources/.vs/HumanResources/FileContentIndex/ce9a22cd-ff89-4d14-bba5-11d7356e0e3b.vsidx
